server:
  port: 8080

resilience4j:
  circuitbreaker:
    instances:
      adquirente-cb:
        failureRateThreshold: 50
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 5
        registerHealthIndicator: true
  timelimiter:
    instances:
      adquirente-cb:
        timeoutDuration: 2500ms

management:
  endpoints:
    web:
      exposure:
        include: health,circuitbreakers
  health:
    circuitbreakers:
      enabled: true
