server:
  port: 8080

feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 2000

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
